body {
    background-color: black;
}

#calendar .day {
    position: relative;
    height: 200px;
    border: 1px solid;
    transition: .5s ease-in-out;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    z-index: 2;
}

#calendar .day#active {
    transition: .5s ease-in-out;
}

#calendar {
    position: relative;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1000px;
    margin: 100px auto;
}

img.decoration {
    position: absolute;
    user-select: none;
    z-index: 4;
    transition: .5s ease-in-out;
}

#calendar .day img.santa {
    position: absolute;
    max-width: 100%;
    left: 0;
    top: 0;
}

#calendar .day p.date {
    position: absolute;
    transition: .5s ease-in-out;
    bottom: 0px;
    left: 16px;
}

button{
    display: block;
    color: #fff;
    background: transparent;
    padding: 10px 50px;
    border: 1px solid #fff;
    cursor: pointer;
}

button#button2 {
    display: none;
}

